.main-page__footer-container {
    border-top: 1px solid #2E3032;
    padding-top: 34px;
    padding-bottom: 34px;
}
.footer {    
    position: relative;
}

.footer__logo {
    position: relative;
    margin-right: 130px;
}

.footer__menu {
    display: inline-block;
    position: static;
    margin-right: 101px;
}

.footer__menu {
    top: 42px;
    left: 320px;
    display: inline-block;
    vertical-align: middle;
}

.footer__menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 55px;
}

.footer__menu__item:last-child {
    margin-right: 0;
}

.footer__contacts {
    display: inline-block;
    font-style: normal;
    text-align: right;
    position: relative; 
    top: 42;
    right: 0;
    transform: translateY(-50%);
    margin-left: 70px;
}

.contacts__free-call {
    font-style: normal;
    text-align: right;
    font-size: 11px;
}