
.footer {    
    position: relative;
}

.footer__container {
    display: flex;
    align-items: center;
}

.footer__logo {
    position: relative;
    margin-right: 128px;
}

.footer__menu {
    margin-right: 123px;
}



.footer__contacts {
    margin-right: auto; 
}

