.header__container {
    padding-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.header__contacts {
    padding-top: 8px;
}


