.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.menu__link:hover {
    text-decoration: none;
    color: #ff3d00;
}