.social-menu {
    display: inline-block;
    vertical-align: middle;
}

.social-menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.social-menu__item:last-child {
    margin-right: 0;
}

