.top-line {
    min-height: 416px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background: #202123 url("../../img/topline.jpg") top center no-repeat;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 85px;
}

.page-title__breadcrumbs {
    margin-bottom: 15px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color: #999999;
    text-decoration: none;
}

.breadcrumbs__item:after {
    content: "/";
    color: #999;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    color: #dfb56d;
    font-size: 14px;
}

.page-content {
    background: #fff;
    color: #303030;
    padding: 68px 0;
}

.service {
    display:flex; 
    padding: 18px 2px
}

.service__img {
    width: 40%;
    margin-right: 5%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 36px;
    color: #202123;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
}

.service__button {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #ff5500;
    color: #ff5500;
    border-radius: 35px;
    padding: 18px 55px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.service__button:hover {
    background-color: #ff5500;
    color: #fff;
}

.partners {
    background: #f4f5f5;
    color: #202123;
    padding: 88px 0;
}

.partners__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 77px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__link {
    text-decoration: none;
    display: flex;    
    height: 100px;
    align-items: center;
    width: 250px;
    justify-content: center;
    margin-bottom: 15px;
}

.partners__item:nth-child(4n + 1) .partners__link {
    max-width: 210px;
    justify-content: flex-start;
    margin-left: 0;
}

.partners__item {
    
}
